




.videoPlayer{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position:fixed;
  left: 0;
  top:0;
}


.mainText{
  color: MediumSlateBlue;
  display: fixed;
  margin-left: 80px;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;

  font-family: Segoe Print;

}



h1{
  z-index: 1;
  font-size: 55px;


}



.titleFrame{
  display: fixed;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0,0,0,.35);
}

.bodyFrame{
  top: 150px;
  left:0;
  float: left;
  position: fixed;
  font-size: 45px;
  width:100%;
  margin: 0;
  padding: 25px;
  text-align: center;
  background-color: rgba(0,0,0,.45);
}

.exploreButton{

  width: 150px;
  bottom: 0px;
  position: fixed;
  background-color: rgba(0,0,0,.35);
  margin: 0;
  padding: 15px;
}
.eatButton{
  bottom: 0px;
  right:650px;
  position:fixed;
  width:150px;
  background-color: rgba(0,0,0,.35);
  margin: 0;
  padding: 15px;
}
.shoppingButton{

  width: 150px;
  position: fixed;
  bottom: 0px;
  background-color: rgba(0,0,0,.35);
  margin: 0;
  padding: 15px;
}
