




.videoPlayer{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position:fixed;
  left: 0;
  top:0;
}


.mainText{
  display: fixed;
  margin-left: 80px;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;

  font-family: Segoe Print;

}



h1{
  z-index: 1;
  font-size: 55px;



}

#shown{

}


.titleFrame{
  position: fixed;
  top:0;
  left:0;
  float: left;
  width: 100%;
  margin: 5px;
  padding: 15px;
  text-align: center;
  background-color: rgba(0,0,0,.50);
}

.bodyFrame{
  top: 400px;
  left:-30px;
  float: left;
  position: fixed;
  font-size: 30px;
  width:100%;
  margin: 0;
  padding: 35px;
  text-align: center;
  background-color:rgba(0,0,0,.35);
}


ul{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: MediumSlateBlue;
}

.active{
  background-color: DarkMagenta;
}

li{
  float: left;
}

li a{
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: CornflowerBlue;
}
