
h1 {
  color: powderblue;
  text-align: center;
  font-family: courier;
  font-size: 70px;
  border-style: double;
  border-color: green;
  border-radius: 10px;
  background-color: lightyellow
}

#content {
  background-color: lightyellow;
}

div {
  font-size: 30px;
  font-family: monospace;
}

p {
  font-size:40px;
  font-family: fantasy;
  color: lightyellow;
  padding: 30px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: powderblue;
}


.outer {
    height: 200px;
    width: 95%;
    margin:20px;
}

.image {
    position: relative;
    margin-top: 50px;
    width: 40%;
    object-fit: cover;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 250%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: lightyellow;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}


.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}
