


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
}

.container section{
  min-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.videoPlayer{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position:relative;
  left: 0;
  top:0;
}

.container section .pageContent{
  max-width: 800px;
  padding: 40px;
  text-align: center;
}

ul{
  position: fixed;
  bottom:0;
  left:0;
  width: 100vw;
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: MediumSlateBlue;
}

.active{
  background-color: DarkMagenta;
}

li{
  float: left;
}

li a{
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: CornflowerBlue;
}

.videoContent{
  position: fixed;
  top: 0;
  left: 35vw;
  justify-content: center;
  text-align: center;
  max-width: -width: 80vw;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 250%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: lightyellow;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

}
